<h1>About our team!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, dicta. Ut ex soluta et optio odit vitae, voluptate tempora sint quibusdam, natus officiis ullam ducimus velit consequuntur magni voluptas laudantium.</p>
<%= link_to 'Learn More', '#' %>
